<div class="row">
  <div class="col-sm-3 col-md-2">
      <div *ngFor="let item of sectionNames" [style.display]="shouldShowSection(item) ? 'block' :'none'">
      <a (click)="selectedSectionName=item">
         {{item}}
      </a>
      </div>
  </div>
  <div class="col-sm-9 col-md-10">

    <!--PRIMARY REQUEST BEGIN-->
    <div>
      <div class="row">
        <div class="form-group col-6">
          <label>Requesting Unit</label>
          <select [(ngModel)]="msr.RequestingUnitId" class="form-control">
            <option *ngFor="let item of dataEntryLookups.requestingUnits" [ngValue]="item.Id">{{item.Name}}</option>
          </select>
        </div>
        <div class="form-group col-6">
          <label>Operation Type</label>
          <select [(ngModel)]="msr.OperationType" class="form-control">
            <option *ngFor="let item of operationTypes" [value]="item">{{item}}</option>
          </select>
        </div>
      </div>
      <div class="row">
        <div class="form-group col-6">
          <label>Requester</label>
            <tag-input [(ngModel)]="msr.SelectedRequesters" 
                       [maxItems]="1"
                       [ripple]="false"
                       [theme]="'bootstrap'"
                       [secondaryPlaceholder]="'Search in Directory'" 
                       [onlyFromAutocomplete]="true"
                       (onAdd)="onRequesterAdded($event)"
                       (onRemove)="onRequesterRemoved($event)">
              <tag-input-dropdown [autocompleteObservable]="getMatchingPeople">
                <ng-template let-item="item" let-index="index">
                  {{ item.display }}
                </ng-template>
              </tag-input-dropdown>
            </tag-input>
        </div>
        <div class="form-group col-6"> 
          <label for="city">Alt POC</label>
          <input [(ngModel)]="msr.AltPOC" type="text" class="form-control">
        </div>
      </div>
      <div class="row">
        <div class="form-group col-6">
            <label for="city">Requester Email</label>
            <div class="input-group">
              <input [(ngModel)]="msr.RequesterEmail" type="email" class="form-control">
              <span class="input-group-addon"><i class="fa fa-envelope-o"></i></span>
            </div>
        </div>
        <div class="form-group col-6"> 
          <label for="city">Alt Email</label>
          <div class="input-group">
            <input [(ngModel)]="msr.AltEmail" type="email" class="form-control">
            <span class="input-group-addon"><i class="fa fa-envelope-o"></i></span>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="form-group col-6">
            <label for="city">Requester Phone</label>
            <div class="input-group">
              <input [(ngModel)]="msr.RequesterPhone" type="text" class="form-control">
              <span class="input-group-addon"><i class="fa fa-phone"></i></span>
            </div>
        </div>
        <div class="form-group col-6">
            <label for="city">Alt Phone</label>
            <div class="input-group">
              <input [(ngModel)]="msr.AltPhone" type="text" class="form-control">
              <span class="input-group-addon"><i class="fa fa-phone"></i></span>
            </div>
        </div>
      </div>
      <div class="row">
        <div class="form-group col-6">
          <label>Mission Start</label>
          <div class="input-group">
            <input class="form-control" [displayMonths]="2" [(ngModel)]="msr.MissionStart" ngbDatepicker 
                #MissionStart="ngbDatepicker">
            <div class="input-group-addon" (click)="MissionStart.toggle()">
              <i class="fa fa-calendar"></i>
            </div>
          </div>
        </div>
        <div class="form-group col-6">
          <label>Mission End</label>
          <div class="input-group">
            <input class="form-control" [displayMonths]="2" [(ngModel)]="msr.MissionEnd" ngbDatepicker 
                #MissionEnd="ngbDatepicker">
            <div class="input-group-addon" (click)="MissionEnd.toggle()">
              <i class="fa fa-calendar"></i>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="form-group col-12">
          <label>CONOP</label>
          <textarea [(ngModel)]="msr.Conop" rows="9" class="form-control" placeholder="Concept of Operation"></textarea>
        </div>
      </div>
      <div class="row">
        <div class="form-group col-12">
          <label>Airfields/Locations</label>
          <textarea [(ngModel)]="msr.AirfieldLocations" rows="6" class="form-control"></textarea>
        </div>
      </div>
      <div class="row">
        <div class="form-group col-12">
          <label>Impact if not supported</label>
          <textarea [(ngModel)]="msr.NegativeImpact" rows="6" class="form-control"></textarea>
        </div>
      </div>
      <div class="row">
        <div class="col-6">
          <div class="checkbox">
            <label>
              <input [(ngModel)]="msr.MedicalSupportRequired" type="checkbox" name="MedicalSupportRequired">
              Medical Support Required
            </label>
          </div>
          <textarea *ngIf="msr.MedicalSupportRequired" [(ngModel)]="msr.MedicalSupportReqs" rows="6" class="form-control" placeholder="Please elaborate on your medical requireqments"></textarea>
        </div>
        <div class="col-6">
          <div class="checkbox">
            <label>
              <input [(ngModel)]="msr.CommunicationSupportRequired" type="checkbox" name="CommunicationSupportRequired">
              Communications Support Required
            </label>
          </div>
          <textarea *ngIf="msr.CommunicationSupportRequired" [(ngModel)]="msr.CommunicationSupportReqs" rows="6" class="form-control" placeholder="Please elaborate on your communications requireqments"></textarea>
        </div>
      </div>
    </div>
    <!--PRIMARY REQUEST END-->
    <app-cargoform [msr]="msr"></app-cargoform>
    <button (click)="onSaveButtonClicked()" class="btn btn-primary" type="button"><i class="fa fa-save"></i>&nbsp; Save</button>
  </div>
</div>
<pre> 
  {{msr | json}}
</pre>