<fieldset>
  <legend class="pl-2 pb-2">Mission Support Request</legend>
    <!--PRIMARY REQUEST BEGIN-->
    <div class="pl-5 pr-3">
      <div class="row">
        <div class="form-group col-6">
          <label>Requesting Unit</label>
          <select [(ngModel)]="msr.RequestingUnitId" class="form-control" name="RequestingUnitId">
            <option *ngFor="let item of dataEntryLookups.requestingUnits" [ngValue]="item.Id">{{item.Name}}</option>
          </select>
        </div>
        <div class="form-group col-6">
          <label>Operation Type</label>
          <select [(ngModel)]="msr.OperationType" class="form-control" name="OperationType">
            <option *ngFor="let item of operationTypes" [value]="item">{{item}}</option>
          </select>
        </div>
      </div>
      <div class="row">
        <div class="form-group col-6">
          <label>Requester</label>
            <tag-input [(ngModel)]="msr.SelectedRequesters"
                       [maxItems]="1"
                       [ripple]="false"
                       [theme]="'bootstrap'"
                       [secondaryPlaceholder]="'Search in Directory'" 
                       [onlyFromAutocomplete]="true"
                       (onAdd)="onRequesterAdded($event)"
                       (onRemove)="onRequesterRemoved($event)">
              <tag-input-dropdown [autocompleteObservable]="getMatchingPeople">
                <ng-template let-item="item" let-index="index">
                  {{ item.display }}
                </ng-template>
              </tag-input-dropdown>
            </tag-input>
        </div>
        <div class="form-group col-6"> 
          <label>Alt POC</label>
          <input [(ngModel)]="msr.AltPOC" type="text" class="form-control" name="AltPOC">
        </div>
      </div>
      <div class="row">
        <div class="form-group col-6">
            <label>Requester Email</label>
            <div class="input-group">
              <input [(ngModel)]="msr.RequesterEmail" type="email" class="form-control" name="RequesterEmail">
              <span class="input-group-addon"><i class="fa fa-envelope-o"></i></span>
            </div>
        </div>
        <div class="form-group col-6"> 
          <label>Alt Email</label>
          <div class="input-group">
            <input [(ngModel)]="msr.AltEmail" type="email" class="form-control" name="AltEmail">
            <span class="input-group-addon"><i class="fa fa-envelope-o"></i></span>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="form-group col-6">
            <label>Requester Phone</label>
            <div class="input-group">
              <input [(ngModel)]="msr.RequesterPhone" type="text" class="form-control" name="RequesterPhone">
              <span class="input-group-addon"><i class="fa fa-phone"></i></span>
            </div>
        </div>
        <div class="form-group col-6">
            <label>Alt Phone</label>
            <div class="input-group">
              <input [(ngModel)]="msr.AltPhone" type="text" class="form-control" name="AltPhone">
              <span class="input-group-addon"><i class="fa fa-phone"></i></span>
            </div>
        </div>
      </div>
      <div class="row">
        <div class="form-group col-6">
          <label>Mission Start</label>
          <div class="input-group">
            <input class="form-control" [displayMonths]="2" [(ngModel)]="msr.MissionStart" ngbDatepicker 
                #MissionStart="ngbDatepicker" name="MissionStart">
            <div class="input-group-addon" (click)="MissionStart.toggle()">
              <i class="fa fa-calendar"></i>
            </div>
          </div>
        </div>
        <div class="form-group col-6">
          <label>Mission End</label>
          <div class="input-group">
            <input class="form-control" [displayMonths]="2" [(ngModel)]="msr.MissionEnd" ngbDatepicker 
                #MissionEnd="ngbDatepicker" name="MissionEnd">
            <div class="input-group-addon" (click)="MissionEnd.toggle()">
              <i class="fa fa-calendar"></i>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="form-group col-12">
          <label>CONOP</label>
          <textarea [(ngModel)]="msr.Conop" name="Conop" rows="4" class="form-control" placeholder="Concept of Operation"></textarea>
        </div>
      </div>
      <div class="row">
        <div class="form-group col-12">
          <label>Airfields/Locations</label>
          <textarea [(ngModel)]="msr.AirfieldLocations" rows="2" class="form-control" name="AirfieldLocations"></textarea>
        </div>
      </div>
      <div class="row">
        <div class="form-group col-12">
          <label>Impact if not supported</label>
          <textarea [(ngModel)]="msr.NegativeImpact" rows="2" class="form-control" name="NegativeImpact"></textarea>
        </div>
      </div>
      <div class="row">
        <div class="form-group col-6">
          <div class="checkbox">
            <label>
              <input [(ngModel)]="msr.MedicalSupportRequired" type="checkbox" name="MedicalSupportRequired">
              Medical Support Required
            </label>
          </div>
          <textarea *ngIf="msr.MedicalSupportRequired" [(ngModel)]="msr.MedicalSupportReqs" name="MedicalSupportReqs" rows="2" class="form-control" placeholder="Please elaborate on your medical requirements"></textarea>
        </div>
        <div class="form-group col-6">
          <div class="checkbox">
            <label>
              <input [(ngModel)]="msr.CommunicationSupportRequired" type="checkbox" name="CommunicationSupportRequired">
              Communications Support Required
            </label>
          </div>
          <textarea *ngIf="msr.CommunicationSupportRequired" [(ngModel)]="msr.CommunicationSupportReqs" name="CommunicationSupportReqs" rows="2" class="form-control" placeholder="Please elaborate on your communications requirements"></textarea>
        </div>
      </div>
    </div>
    <!--PRIMARY REQUEST END-->
</fieldset>
    
<fieldset>
  <legend class="pl-2 pb-2" *ngIf="!!getAdditionalFormSection()">{{getAdditionalFormSection()}}</legend>
  <div class="pl-5 pr-3">
      <app-cargoform [msr]="msr"></app-cargoform>
      <app-airmobilityform [msr]="msr"></app-airmobilityform>
      <app-specialtacticsform [msr]="msr"></app-specialtacticsform>

      <app-pnforces [msr]="msr"></app-pnforces>
      <app-dropzones [msr]="msr"></app-dropzones>
      <app-vehicles [msr]="msr"></app-vehicles>
      <app-platforms [msr]="msr"></app-platforms>
      <app-targetlocations [msr]="msr"></app-targetlocations>
      <app-landingzones [msr]="msr"></app-landingzones>

      <button *ngIf="buttonsManager['Save'].shouldShow()" (click)="buttonsManager['Save'].onClicked()" class="btn btn-primary" type="button"><i class="fa fa-save"></i>&nbsp; Save</button>
      <button *ngIf="buttonsManager['Submit'].shouldShow()" (click)="buttonsManager['Submit'].onClicked()" class="btn btn-success" type="button"><i class="fa fa-send"></i>&nbsp; Submit</button>
      <button *ngIf="buttonsManager['Reopen'].shouldShow()" (click)="buttonsManager['Reopen'].onClicked()" class="btn btn-success" type="button"><i class="fa fa-refresh"></i>&nbsp; Reopen Request</button>
      <button *ngIf="buttonsManager['Cancel'].shouldShow()" (click)="buttonsManager['Cancel'].onClicked()" class="btn btn-danger" type="button"><i class="fa fa-remove"></i>&nbsp; Cancel Request</button>
  </div>
</fieldset>
    
  