<table class="table">
  <tr class="hidden-print">
    <td colspan="2" class="border-top-0">
        <button type="button" class="btn btn-sm btn-info" (click)="onPrintButtonClicked(msr)"><i class="fa fa-print"></i> Print this Page</button>
     
    </td>
  </tr>
  <tr>
    <td class="border-top-0">
      <span class="display-4"><i class="fa fa-plane"></i> MSRS</span>
    </td>
    <td class="text-right border-top-0">
      <span>ID #: {{msr.Id}}</span><br>
      <span>Created: {{msr.Created | date:'shortDate' }}</span><br>
      <span>Created By: {{msr.Author.Title}}</span><br>
      
    </td>
  </tr>
</table>
<table class="table">
  <tbody>
    <tr>
      <th class="section-header" colspan="2">
        <div class="clearfix">
          <span class="float-left">
            Mission Support Request ({{msr.SelectedMissions[0].Title}})
          </span>
          
        </div>
      </th>
    </tr>

    <tr>
      <td><strong>Status</strong></td>
      <td>{{msr.Status}}</td>
    </tr>
    <tr>
      <td><strong>Operation Type</strong></td>
      <td>{{msr.OperationType}}</td>
    </tr>
    <tr>
      <td><strong>Dates</strong></td>
      <td>
        {{msr.MissionStart.month}}/{{msr.MissionStart.day}}/{{msr.MissionStart.year}} - {{msr.MissionEnd.month}}/{{msr.MissionEnd.day}}/{{msr.MissionEnd.year}}
      </td>
    </tr>

    <tr>
      <td><strong>CONOP</strong></td>
      <td>{{msr.Conop}}</td>
    </tr>

    <tr>
      <td><strong>Airfields/Locations</strong></td>
      <td>{{msr?.AirfieldLocations}}</td>
    </tr>

    <tr>
      <td><strong>Impact if not supported</strong></td>
      <td>{{msr?.NegativeImpact}}</td>
    </tr>

    <tr>
      <td><strong>Medical Requirements</strong></td>
      <td>{{(msr.MedicalSupportRequired) ? msr.MedicalSupportReqs : ''}}</td>
    </tr>
    <tr>
      <td><strong>Communications Requirements</strong></td>
      <td>{{(msr.CommunicationSupportRequired) ? msr.CommunicationSupportReqs : ''}}</td>
    </tr>

    <tr *ngIf="msr.OperationType === 'Cargo/Personnel Move'">
      <th class="section-header" colspan="2">
        Cargo/Personnel Move
      </th>
    </tr>
    <tr *ngIf="msr.OperationType === 'Cargo/Personnel Move'">
      <td><strong>#PAX</strong></td>
      <td>{{msr?.NumberOfPAX}}</td>
    </tr>
    <tr *ngIf="msr.OperationType === 'Cargo/Personnel Move'">
      <td><strong>Pax Baggage Weight</strong></td>
      <td>{{msr?.PaxBaggageWeight}} lbs</td>
    </tr>
    <tr *ngIf="msr.OperationType === 'Cargo/Personnel Move'">
      <td><strong>#Pallets</strong></td>
      <td>{{msr?.NumberOfPallets}}</td>
    </tr>
    <tr *ngIf="msr.OperationType === 'Cargo/Personnel Move'">
      <td><strong>Pallet Weight</strong></td>
      <td>{{msr?.PalletWeight}} lbs</td>
    </tr>
    <tr *ngIf="msr.OperationType === 'Cargo/Personnel Move'">
      <td><strong>#ISU/Type</strong></td>
      <td>{{msr?.IsuType}}</td>
    </tr>
    <tr *ngIf="msr.OperationType === 'Cargo/Personnel Move'">
      <td><strong>ISU Weight</strong></td>
      <td>{{msr?.IsuWeight}} lbs</td>
    </tr>
    <tr *ngIf="msr.OperationType === 'Cargo/Personnel Move'">
      <td><strong>HAZMAT Required</strong></td>
      <td>{{(msr.HazmatRequired) ? 'Yes' : 'No'}}</td>
    </tr>
    <tr *ngIf="msr.OperationType === 'Cargo/Personnel Move'">
      <td><strong>Amplifying Detail</strong></td>
      <td>{{msr?.AmplifyingDetail}}</td>
    </tr>

    <tr *ngIf="msr.OperationType === 'Special Tactics/Battlefield Airman (ST/BAO)'">
      <th class="section-header" colspan="2">
        Special Tactics/Battlefield Airman
      </th>
    </tr>
    <tr *ngIf="msr.OperationType === 'Special Tactics/Battlefield Airman (ST/BAO)'">
      <td><strong>JTAC/CAS</strong></td>
      <td>{{msr?.JtacCasType}} {{msr?.JtacFireType}}</td>
    </tr>
    <tr *ngIf="msr.OperationType === 'Special Tactics/Battlefield Airman (ST/BAO)'">
      <td><strong>Pararescue (PJ):</strong></td>
      <td>{{msr?.Pararescue}}</td>
    </tr>
    <tr *ngIf="msr.OperationType === 'Special Tactics/Battlefield Airman (ST/BAO)'">
      <td><strong>Survey(s)</strong></td>
      <td>{{msr?.Surveys}}</td>
    </tr>

    <tr *ngIf="msr.OperationType === 'AIR Mobility (SAM)'">
      <th class="section-header" colspan="2">
        AIR Mobility
      </th>
    </tr>
    <tr *ngIf="msr.OperationType === 'AIR Mobility (SAM)'">
      <td><strong>Type</strong></td>
      <td>{{msr?.AirMobilityType}} <span *ngIf="showFields['InfillExfillType'](msr) && msr.InfillExfillType">({{msr?.InfillExfillType}})</span></td>
    </tr>
    <tr *ngIf="showFields['NumberOfPersonnel'](msr)">
      <td><strong># Personnel</strong></td>
      <td>{{msr?.NumberOfPersonnel}}</td>
    </tr>
    <tr *ngIf="showFields['ParachuteType'](msr)">
      <td><strong>Parachute Type</strong></td>
      <td>{{(msr?.ParachuteType) ? msr.ParachuteType : msr.ParachuteTypeOther }}</td>
    </tr>

    <tr *ngIf="showFields['TypeRelease'](msr)">
      <td><strong>Type Release</strong></td>
      <td>{{msr?.TypeRelease }}</td>
    </tr>

    <tr *ngIf="showFields['FFEquipment'](msr)">
      <td><strong>FF Equipment</strong></td>
      <td>{{msr?.FFEquipment }}</td>
    </tr>

    <tr *ngIf="showFields['AIE_related_fields'](msr)">
      <td><strong>AIE Types</strong></td>
      <td>{{msr.aieTypesDelimited}}</td>
    </tr>

    <tr *ngIf="showFields['RAPIDS_related_fields'](msr)">
      <td><strong>Vehicles Required</strong></td>
      <td>{{(msr.VehiclesRequired) ? 'Yes' : 'No'}}</td>
    </tr>

    <tr *ngIf="showFields['RAPIDS_related_fields'](msr)">
      <td><strong>Surveys Required</strong></td>
      <td>{{(msr.SurveysRequired) ? 'Yes' : 'No'}}</td>
    </tr>

    <tr *ngIf="showFields['EstimatedDimensionsWeight'](msr)">
      <td><strong>Estimated Height</strong></td>
      <td>{{msr.EstimatedDimensionsHeight}} {{(msr.EstimatedDimensionsHeight) ? 'inches' : ''}}</td>
    </tr>

    <tr *ngIf="showFields['EstimatedDimensionsWeight'](msr)">
      <td><strong>Estimated Length</strong></td>
      <td>{{msr.EstimatedDimensionsLength}} {{(msr.EstimatedDimensionsLength) ? 'inches' : ''}}</td>
    </tr>

    <tr *ngIf="showFields['EstimatedDimensionsWeight'](msr)">
      <td><strong>Estimated Weight</strong></td>
      <td>{{msr.EstimatedWeight}} {{(msr.EstimatedWeight) ? 'lbs' : ''}}</td>
    </tr>

    <tr *ngIf="showFields['NumberOfRefuelPointsRequired'](msr)">
      <td><strong># of Refuel Points Required</strong></td>
      <td>{{msr.NumberOfRefuelPointsRequired}}</td>
    </tr>

    <tr *ngIf="showPanels['PNForces'](msr)">
      <td><strong>PN Forces</strong></td>
      <td>
        <ul>
          <li *ngFor="let item of msr.PNForces">
            {{item.name}}, {{item.number}} PAX, Parachute Type: {{item.parachuteType}}
          </li>
        </ul>
      </td>
    </tr>

    <tr *ngIf="showPanels['DropZones'](msr)">
      <td><strong>Drop Zones</strong></td>
      <td>
        <ul>
          <li *ngFor="let item of msr.DropZones">
            {{item.name}}, Survey Required: {{(item.surveyRequired)? 'Yes' : 'No'}}
          </li>
        </ul>
      </td>
    </tr>

    <tr *ngIf="showPanels['Vehicles'](msr)">
      <td><strong>Vehicles</strong></td>
      <td>
        <ul>
          <li *ngFor="let item of msr.Vehicles">
            {{item.type}}, Quantity: {{item.quantity}}
          </li>
        </ul>
      </td>
    </tr>

    <tr *ngIf="showPanels['Platforms'](msr)">
      <td><strong>Platforms</strong></td>
      <td>
        <ul>
          <li *ngFor="let item of msr.Platforms">
            {{item.type}},
            Quantity: {{item.quantity}}
          </li>
        </ul>
      </td>
    </tr>

    <tr *ngIf="showPanels['TargetLocations'](msr)">
      <td><strong>Target Locations</strong></td>
      <td>
        <ul>
          <li *ngFor="let item of msr.TargetLocations">
            {{item.name}}, LAT/LNG: {{item.lat}}, {{item.long}}, Access POC: {{item.accessPOC}}
          </li>
        </ul>
      </td>
    </tr>

    <tr *ngIf="showPanels['LandingZones'](msr)">
      <td><strong>Landing Zones</strong></td>
      <td>
        <ul>
          <li *ngFor="let item of msr.LandingZones">
            {{item.name}}, Survey Required: {{(item.surveyRequired)? 'Yes' : 'No'}}
          </li>
        </ul>
      </td>
    </tr>

    <tr>
      <th class="section-header" colspan="2">
        Requested By
      </th>
    </tr>

    <tr>
      <td><strong>Unit</strong></td>
      <td>{{msr.RequestingUnit.Name}} <br>
        {{msr.RequestingUnit.PhoneNumber}} <br>
        <a [href]="'mailto:'+msr.RequestingUnit.Email+'?subject=MSR ('+ msr.SelectedMissions[0].Title + ')'">{{msr.RequestingUnit.Email}}</a>
      </td>
    </tr>
    <tr>
      <td><strong>Requester</strong></td>
      <td>{{msr.SelectedRequesters[0].Title}} <br>
        {{msr.RequesterPhone}} <br>
        <a [href]="'mailto:'+msr.RequesterEmail+'?subject=MSR ('+ msr.SelectedMissions[0].Title + ')'">{{msr.RequesterEmail}}</a>
      </td>
    </tr>

    <tr *ngIf="msr.AltPOC || msr.AltPhone || msr.AltEmail">
      <td><strong>Alt POC</strong></td>
      <td>
        <span *ngIf="msr.AltPOC">{{msr?.AltPOC}}<br></span>
        <span *ngIf="msr.AltPhone">{{msr?.AltPhone}}<br></span>
        <span *ngIf="msr.AltEmail"><a [href]="'mailto:'+msr.AltEmail+'?subject=MSR ('+ msr.SelectedMissions[0].Title + ')'">{{msr.AltEmail}}</a><br></span>
      </td>
    </tr>
  </tbody>
  <tbody *ngIf="msr.OwningUnits.length">
    <tr>
      <th class="section-header" colspan="2">
        Owned By
      </th>
    </tr>
    <tr>
      <td><strong>Unit</strong></td>
      <td>
        <span *ngFor="let unit of msr.OwningUnits; let isLast=last">
          {{unit.Name}}{{isLast ? '' : '; '}}
        </span>
      </td>
    </tr>
  </tbody>
  <tbody *ngIf="msr.SupportUnit">
    <tr>
      <th class="section-header" colspan="2">
        Supported By
      </th>
    </tr>
    <tr>
      <td><strong>Unit</strong></td>
      <td>
        <div>
          {{msr.SupportUnit.Name}} <br>
          {{msr.SupportUnit.PhoneNumber}} <br>
          <a [href]="'mailto:'+msr.SupportUnit.Email+'?subject=MSR ('+ msr.SelectedMissions[0].Title + ')'">{{msr.SupportUnit.Email}}</a>
        </div>
      </td>
    </tr>

    <tr>
      <td><strong>Dates</strong></td>
      <td>
        <div *ngIf="!!msr.MissionSupportStart && !!msr.MissionSupportEnd">
          {{msr.MissionSupportStart.month}}/{{msr.MissionSupportStart.day}}/{{msr.MissionSupportStart.year}} - {{msr.MissionSupportEnd.month}}/{{msr.MissionSupportEnd.day}}/{{msr.MissionSupportEnd.year}}
        </div>
      </td>
    </tr>

    <tr>
      <td><strong>Location</strong></td>
      <td>{{msr.SupportLocation}}</td>
    </tr>

    <tr>
      <td><strong>Aircraft Security</strong></td>
      <td>
        {{(msr.AircraftSecurityRequired) ? 'Yes' : 'No'}}
        {{(msr.AircraftSecurityRequired && msr.StagingLocation) ? ', Staging Location: ' + msr.StagingLocation : ''}}
      </td>
    </tr>

    <tr>
      <td><strong>Subunits Assigned</strong></td>
      <td>
          <div *ngFor="let unit of msr.AssignedSubunits" [style.display]="unit.subunit ? 'block' : 'none'">
            <div *ngIf="unit.subunit">
               {{unit.subunit.Name}}<br>
              {{unit.subunit.PocName}} <br>
              {{unit.subunit.PocPhone}}<br>
              <a [href]="'mailto:'+unit.subunit.PocEmail+'?subject=MSR ('+ msr.SelectedMissions[0].Title + ')'">{{unit.subunit.PocEmail}}</a>
            </div>
            <ul>
              <li *ngFor="let platform of unit.platforms">
                {{platform.type}}, Quantity: {{platform.quantity}}
              </li>
            </ul>
          </div>
      </td>
    </tr>

    <tr>
      <td><strong>Outside Units Assigned</strong></td>
      <td>
    
          <div *ngFor="let unit of msr.AssignedOutsideUnits">
            {{unit.name}}<br>
            {{unit.pocName}}<br>
            {{unit.pocPhone}} <br>
            <a [href]="'mailto:'+unit.pocEmail+'?subject=MSR ('+ msr.SelectedMissions[0].Title + ')'">{{unit.pocEmail}}</a>
            <ul>
              <li *ngFor="let platform of unit.platforms">
                {{platform.type}}, Quantity: {{platform.quantity}}
              </li>
            </ul>
          </div>
         
      </td>
    </tr>

  </tbody>
</table>
