<fieldset>
  <legend class="pl-2 pb-2">Update Status</legend>
  <div class="pl-5 pr-3">
    <div class="row">
      <div class="form-group col-6">
        <label><strong>Owned By</strong></label>
        <p>
          <span *ngFor="let item of renderOwningUnits(msr)" class="badge badge-info mr-1" style="font-size:1em;">{{item}}</span>
        </p>
      </div>
    </div>

    <div class="row">
      <div class="form-group col-6">
        <label><strong>Assigned To</strong></label>
        <p>
          {{msr.SupportUnit.Name}}
        </p>
      </div>
    </div>

    <div class="row">
      <div class="form-group col-6">
        <label><strong>Status</strong></label>
        <p>
          {{msr.Status}}
        </p>
      </div>
    </div>

    <div ngbDropdown class="d-inline-block">
      <button class="btn btn-primary" ngbDropdownToggle>Update Status</button>
      <div class="dropdown-menu">
        <button *ngFor="let item of statuses" [class.disabled]="msr.Status === item" class="dropdown-item" (click)="openModal(statusModal, item)">{{item}}</button>
      </div>
    </div>

    <ng-template #statusModal let-c="close" let-d="dismiss">
      <div class="modal-header">
        <h4 class="modal-title">Change MSR Status</h4>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <label>Status</label>
          <select [(ngModel)]="formData.status" class="form-control" name="status">
             <option *ngFor="let item of statuses" [value]="item">{{item}}</option>
      </select>
        </div>

        <div class="form-group">
          <label>Notes</label>
          <textarea [(ngModel)]="formData.notes" rows="6" class="form-control" name="notes"></textarea>
        </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="c('Close click')">Close</button>
        <button type="button" class="btn btn-primary" (click)="changeStatus()">Save</button>
      </div>
    </ng-template>

  </div>
</fieldset>
