<p>
  newsfeed works! {{msr.Id}}
</p>
<div class="timeline">
      <div class="entry">
        <div class="title">
          <h3>2014 - Present</h3>
          <p>Title, Company</p>
        </div>
        <div class="body">
          <p>Voluptatibus veniam ea reprehenderit atque reiciendis non laborum adipisci ipsa pariatur omnis.</p>
        </div>
      </div>
      <div class="entry">
        <div class="title">
          <h3>2014 - Present</h3>
          <p>Title, Company</p>
        </div>
        <div class="body">
          <p>Voluptatibus veniam ea reprehenderit atque reiciendis non laborum adipisci ipsa pariatur omnis.</p>
        </div>
      </div>
    </div>