<section *ngIf="newsfeeditems?.length" class="timeline">
  <div class="container">
    <div *ngFor="let item of newsfeeditems" class="timeline-item">
      <div class="timeline-img"></div>
      <div class="timeline-content js--fadeInLeft">
        <div class="date">{{item.Created | date:'dd MMM yyyy HHmm' | uppercase }}</div>
        <p>
          <app-status-change *ngIf="item.Type === 'StatusChange'" [newsfeeditem]="item"></app-status-change>
        </p>
      </div>
    </div> 
  </div>
</section>




