<div class="form-group col-4 pl-0">
<div class="input-group">
    <span class="input-group-addon"><i class="fa fa-search"></i></span>
    <input type="text" class="form-control" [(ngModel)]="filter.text" placeholder="Filter MSRs" (keyup)="applyFilter()">
    <button *ngIf="filter.text" class="btn btn-info" type="button" (click)="clearFilter()">Clear</button>
</div>
</div>
<div class="left" style="float:right;width:150px;overflow:auto;">
    <daypilot-navigator [config]="navigatorConfig" (dateChange)="changeDate()" #navigator></daypilot-navigator>
</div>
<div class="right" style="margin-right:150px;overflow:auto;">
    <daypilot-scheduler [config]="config" [events]="config.events" #scheduler></daypilot-scheduler>
</div>