<span *ngIf="newsfeeditem.JSON.prevStatus === ''">
  Created this MSR. The system set the status of this MSR to 'Draft'.
</span>

<span *ngIf="newsfeeditem.JSON.prevStatus !== '' && newsfeeditem.JSON.newStatus === 'Draft'">
  Reopened this MSR.  The system set the status of this MSR to 'Draft'.
</span>

<span *ngIf="newsfeeditem.JSON.prevStatus === 'Draft' && newsfeeditem.JSON.newStatus === 'Submitted'">
  Submitted this MSR
</span>

<span *ngIf="newsfeeditem.JSON.newStatus === 'Canceled'">
  Canceled this MSR
</span>

<span *ngIf="newsfeeditem.JSON.newStatus === 'Rejected'">
  Rejected this MSR
</span>

<span *ngIf="newsfeeditem.JSON.newStatus === 'Approved'">
  Approved this MSR
</span>
 
 <!--
 <div>
   <a class="bnt-more">Some action</a>
 </div>
 -->
 