<span><strong>{{newsfeeditem?.Author.Title}}</strong></span>

<span *ngIf="newsfeeditem.JSON.prevStatus === '' && newsfeeditem.JSON.newStatus === 'Draft'">
  created this MSR. The system set the status of this MSR to 'Draft'.
</span>

<span *ngIf="newsfeeditem.JSON.prevStatus !== '' && newsfeeditem.JSON.newStatus === 'Draft'">
  reopened this MSR.  The system set the status of this MSR to 'Draft'.
</span>

<span *ngIf="newsfeeditem.JSON.newStatus === 'Submitted'">
  submitted this MSR.
</span>

<span *ngIf="newsfeeditem.JSON.newStatus === 'Canceled'">
  canceled this MSR.
</span>

<span *ngIf="newsfeeditem.JSON.newStatus === 'Rejected'">
  rejected this MSR.

  <p *ngIf="newsfeeditem.JSON.comments">
    {{newsfeeditem.JSON.comments}}
  </p>
</span>

<span *ngIf="newsfeeditem.JSON.newStatus === 'Approved'">
  approved this MSR

  <p *ngIf="newsfeeditem.JSON.comments">
    {{newsfeeditem.JSON.comments}}
  </p>
</span>

<span *ngIf="newsfeeditem.JSON.newStatus === 'Vetting' || newsfeeditem.JSON.newStatus === 'Planning'">
  changed the status of this MSR to '{{newsfeeditem.JSON.newStatus}}'.
</span>

<span *ngIf="newsfeeditem.JSON.newStatus === 'Assigned'">
  {{newsfeeditem.JSON.comments}}.  The system set the status of this MSR to 'Assigned'.
</span>


 
 <!--
 <div>
   <a class="bnt-more">Some action</a>
 </div>
 -->
 