<span><strong>{{newsfeeditem?.Author.Title}}</strong></span>

<!--CREATED-->
<span *ngIf="newsfeeditem.JSON.prevStatus === '' && newsfeeditem.JSON.newStatus === 'Draft'">
  created this MSR. The system set the status of this MSR to <span class="label-color" [style.background]="statusColor"><span style="color: #fff">draft</span></span>
</span>

<!--REOPENED-->
<span *ngIf="newsfeeditem.JSON.prevStatus !== '' && newsfeeditem.JSON.newStatus === 'Draft'">
  reopened this MSR.  The system set the status of this MSR to <span class="label-color" [style.background]="statusColor"><span style="color: #fff">draft</span></span>
</span>

<!--SUBMITTED-->
<span *ngIf="newsfeeditem.JSON.newStatus === 'Submitted'">
  <span class="label-color" [style.background]="statusColor"><span style="color: #fff">submitted</span></span> this MSR.
</span>

<!--CANCELED-->
<span *ngIf="newsfeeditem.JSON.newStatus === 'Canceled'">
  <span class="label-color" [style.background]="statusColor"><span style="color: #fff">canceled</span></span> this MSR.
</span>

<!--REJECTED-->
<span *ngIf="newsfeeditem.JSON.newStatus === 'Rejected'">
  <span class="label-color" [style.background]="statusColor"><span style="color: #fff">rejected</span></span> this MSR.
</span>

<!--APPROVED-->
<span *ngIf="newsfeeditem.JSON.newStatus === 'Approved'">
  <span class="label-color" [style.background]="statusColor"><span style="color: #fff">approved</span></span> this MSR.
</span>

<!--PLANNING-->
<span *ngIf="newsfeeditem.JSON.newStatus === 'Planning'">
  set the status of this MSR to <span class="label-color" [style.background]="statusColor"><span style="color: #fff">planning</span></span>
</span>

<!--VETTING-->
<span *ngIf="newsfeeditem.JSON.newStatus === 'Vetting' && newsfeeditem.JSON.owningUnits.length">
  tagged <strong>{{newsfeeditem.JSON.owningUnits.join(', ')}}</strong> as the {{ (newsfeeditem.JSON.owningUnits.length === 1) ? 'owner' : 'owners'}} of this MSR and set the status to <span class="label-color" [style.background]="statusColor"><span style="color: #fff">vetting</span></span>
</span>
<span *ngIf="newsfeeditem.JSON.newStatus === 'Vetting' && !newsfeeditem.JSON.owningUnits.length">
  set the status of this MSR to <span class="label-color" [style.background]="statusColor"><span style="color: #fff">vetting</span></span>
</span>

<!--ASSIGNED-->
<span *ngIf="newsfeeditem.JSON.newStatus === 'Assigned' && newsfeeditem.JSON.assignedUnit">
  assigned <strong>{{newsfeeditem.JSON.assignedUnit}}</strong> to support this MSR and set the status to <span class="label-color" [style.background]="statusColor"><span style="color: #fff">assigned</span></span>
</span>
<span *ngIf="newsfeeditem.JSON.newStatus === 'Assigned' && !newsfeeditem.JSON.assignedUnit">
  set the status of this MSR to <span class="label-color" [style.background]="statusColor"><span style="color: #fff">assigned</span></span>
</span>


<p *ngIf="newsfeeditem.JSON.comments" class="m-0">
  {{newsfeeditem.JSON.comments}}
</p>
 

 
 <!--
 <div>
   <a class="bnt-more">Some action</a>
 </div>
 -->
 