<div *ngIf="!hasLinkedMission()" class="card card-inverse" style="background-color: #333; border-color: #333;">
  <div class="card-block">
    <h3 class="card-title">{{cardViewModel.cardTitle}}</h3>
    <p class="card-text" [innerHTML]="cardViewModel.cardText"></p>
    <p style="padding:5px 3px;background-color:#FFF;" >
      <tag-input [(ngModel)]="msrBeingEdited.SelectedMissions" [maxItems]="1" [ripple]="false" [theme]="'bootstrap'" [secondaryPlaceholder]="cardViewModel.autocompletePlaceholderText"
        [onlyFromAutocomplete]="true" [onTextChangeDebounce]="250" (onAdd)="onMissionAdded($event)">
        <tag-input-dropdown [autocompleteObservable]="getMatchingMissions" [minimumTextLength]="3">
          <ng-template let-item="item" let-index="index">
            {{ item.display }}
          </ng-template>
        </tag-input-dropdown>
      </tag-input>
    </p>
    <button type="button" class="btn btn-primary" (click)="nextButtonClicked()" [disabled]="!msrBeingEdited.SelectedMissions || !msrBeingEdited.SelectedMissions.length">Next <span class="fa fa-chevron-right"></span></button>
  </div>
</div>
<ngb-tabset *ngIf="hasLinkedMission()">
  <ngb-tab>
    <ng-template ngbTabTitle><i class="fa fa-user"></i> Requester</ng-template>
    <ng-template ngbTabContent>
      <app-requester-tabcontent [msr]="msrBeingEdited" [msrStatusOnLoad]="msrOnLoad.Status" [cachedData]="cachedData" (saveButtonClicked)="saveMsr()"></app-requester-tabcontent>  
    </ng-template>
  </ngb-tab>
  <ngb-tab *ngIf="tabPermissions['JSOAC/JMOC']">
    <ng-template ngbTabTitle><i class="fa fa-code-fork"></i> JSOAC/JMOC</ng-template>
    <ng-template ngbTabContent>
      <app-owner-tabcontent [msr]="msrBeingEdited" [msrOnLoad]="msrOnLoad" [cachedData]="cachedData" (saveButtonClicked)="saveMsr()"></app-owner-tabcontent>
    </ng-template>
  </ngb-tab>
  <ngb-tab *ngIf="tabPermissions['Support Unit']">
    <ng-template ngbTabTitle><i class="fa fa-plane"></i> Support Unit</ng-template>
    <ng-template ngbTabContent>
      <app-support-tabcontent [msr]="msrBeingEdited" [cachedData]="cachedData" (saveButtonClicked)="saveMsr()"></app-support-tabcontent>
    </ng-template>
  </ngb-tab>
  <ngb-tab *ngIf="tabPermissions['Status']">
    <ng-template ngbTabTitle><i class="fa fa-comments-o"></i> Status</ng-template>
    <ng-template ngbTabContent>
      <app-status-tabcontent [msr]="msrBeingEdited"></app-status-tabcontent>
    </ng-template>
  </ngb-tab>
</ngb-tabset>