<fieldset>
  <legend class="pl-2 pb-2" style="display:none;"></legend>
  <div class="pl-5 pr-3">
    
    <div class="row">
      <div class="form-group col-6">
        <label>Notes</label>
        <textarea [(ngModel)]="msr.Notes" name="Notes" rows="9" class="form-control"></textarea>
      </div>
    </div>

    <div class="row">
      <div class="form-group col-6">
        <button (click)="onSaveButtonClicked()" class="btn btn-primary" type="button"><i class="fa fa-save"></i>&nbsp; Save</button>
      </div>
    </div>
  </div>
</fieldset>

<app-updatestatus [msr]="msr" [msrOnLoad]="msrOnLoad" [cachedData]="cachedData"></app-updatestatus>
