// Here you can add other styles
.radio-inline, .checkbox-inline{
    margin-right: 12px;
    margin-bottom: 14px;
}

td > div.checkbox {
    text-align: center;
}

.nested-content .alert{
    margin-bottom: 0.3em;
}

.nested-table > tbody > tr > td {
    padding-top: 0;
    padding-left: 0;
    border:none;
}

