// Here you can add other styles
.main .container-fluid {
	min-width: 760px;
}

.scheduler_default_corner > div{
    display: none;
}

.app-header.navbar .navbar-brand {
	text-align: center;
}

.radio-inline, .checkbox-inline{
    margin-right: 12px;
    margin-bottom: 14px;
}

.spinner-container.modal-backdrop {
	z-index: 1060;
}

 input[readonly], textarea[readonly], .form-control[readonly]{
   /* IE HACK - when field is read-only, get rid of blinking cursor */
   color: #444 !important;
   cursor: default;
   background-color: #FFF;
 }

 select.form-control:not([size]):not([multiple]) {
	 height: auto;
 }

td > div.checkbox {
    text-align: center;
}

legend {
    border-bottom: 1px solid #e5e5e5;
}

.nested-content .alert, .nested-content .table.table-sm {
    margin-bottom: 0.3em;
}

.nested-table > tbody > tr > td {
    padding-top: 0;
    padding-left: 0;
    border:none;
    width:100%;
}

.form-group.required label:after{
	color: #e32;
    content: ' *';
    display:inline;
	font-weight: bold;
}

//TIMELINE START
$primary: #3F51B5;
$dark-primary: #303F9F;
$light-primary: #C5CAE9;
$text: #FFFFFF;
$primary-text: #212121;
$secondary-text: #757575;
$accent: #FF4081;

section {
  font-family: 'Roboto';
  font-size: 17px;
  font-weight: 400;
}

.timeline {

	position: relative;

	&::before {
		content: '';
		background: $light-primary;
		width: 5px;
		height: 100%;
		position: absolute;
		left: 10%;
		transform: translateX(-50%);
	}
}

.timeline-item {
	width: 100%;
	margin-bottom: 70px;

		.timeline-content {
			float: right;
			padding: 40px 30px 10px 30px;

			.date {
				right: auto;
				left: 0;
			}

			&::after {
				content: '';
				position: absolute;
				border-style: solid;
				width: 0;
				height: 0;
				top: 30px;
				left: -15px;
				border-width: 10px 15px 10px 0;
				border-color: transparent #f5f5f5 transparent transparent;
			}
		}
	

	&::after {
		content: '';
		display: block;
		clear: both;
	}
}

.timeline-content {
	position: relative;
	width: 100%;
	padding: 10px 30px;
	border-radius: 4px;
	background: #f5f5f5;
	box-shadow: 0 20px 25px -15px rgba(0, 0, 0, .3);

	&::after {
		content: '';
		position: absolute;
		border-style: solid;
		width: 0;
		height: 0;
		top: 30px;
		right: -15px;
		border-width: 10px 0 10px 15px;
		border-color: transparent transparent transparent #f5f5f5;
	}
}

.timeline-img {
	width: 30px;
	height: 30px;
	background: $primary;
	border-radius: 50%;
	position: absolute;
	left: 10%;
	margin-top: 25px;
	margin-left: -15px;
}

a.bnt-more {
	background: $primary;
	color: $text !important;
	padding: 8px 20px;
	text-transform: uppercase;
	font-size: 14px;
	margin-bottom: 20px;
	margin-top: 10px;
	display: inline-block;
	border-radius: 2px;
	box-shadow: 0 1px 3px -1px rgba(0, 0, 0, .6);

	&:hover, &:active, &:focus {
		background: darken($primary, 10%);
		color: $text !important;
		text-decoration: none !important;
	}

}

.ui-widget-content a {
	color: #20a8d8;
}

label.ui-multiselect-label {
	margin-bottom: 0;
}

.timeline-card {
	padding: 0!important;

	p {
		padding: 0 20px;
	}

	a {
		margin-left: 20px;
	}
}

blockquote {
	margin-top: 30px;
	color: $secondary-text;
	border-left-color: $primary;
	padding: 0 20px;
}

.date {
	background: $accent;
	display: inline-block;
	color: $text;
	padding: 1px 5px;
	position: absolute;
	top: 0;
	right: 0;
}

@media screen and (max-width: 768px) {

	.timeline {

		&::before {
			left: 50px;
		}

		.timeline-img {
			left: 50px;
		}

		.timeline-content {
			max-width: 100%;
			width: auto;
			margin-left: 70px;
		}

		.timeline-item {

			&:nth-child(even) {

				.timeline-content {
					float: none;

				}
			}

			&:nth-child(odd) {

				.timeline-content {
					
					&::after {
						content: '';
						position: absolute;
						border-style: solid;
						width: 0;
						height: 0;
						top: 30px;
						left: -15px;
						border-width: 10px 15px 10px 0;
						border-color: transparent #f5f5f5 transparent transparent;
					}
				}

			}
		}
	}
	
}
//TIMELINE END