// Here you can add other styles
.radio-inline, .checkbox-inline{
    margin-right: 12px;
    margin-bottom: 14px;
}

td > div.checkbox {
    text-align: center;
}

legend {
    border-bottom: 1px solid #e5e5e5;
}

.nested-content .alert, .nested-content .table.table-sm {
    margin-bottom: 0.3em;
}

.nested-table > tbody > tr > td {
    padding-top: 0;
    padding-left: 0;
    border:none;
    width:100%;
}

