<fieldset>
  <legend class="pl-2 pb-2">Assigned to: <span>{{assignedSupportUnit.Name}}</span></legend>
  <div class="pl-5 pr-3">

    <div class="row">
      <div class="form-group col-6">
        <label>Mission Start</label>
        <div class="input-group">
          <input class="form-control" [displayMonths]="2" [(ngModel)]="msr.MissionSupportStart" ngbDatepicker 
              #MissionSupportStart="ngbDatepicker" name="MissionSupportStart" readonly
              [minDate]="msr.MissionStart"
              [maxDate]=getMaximumDateForMissionSupportStart()
              (click)="MissionSupportStart.toggle();MissionSupportEnd.close()">
          <div class="input-group-addon" (click)="MissionSupportStart.toggle();MissionSupportEnd.close()">
            <i class="fa fa-calendar"></i>
          </div>
        </div>
      </div>
      <div class="form-group col-6">
        <label>Mission End</label>
        <div class="input-group">
          <input class="form-control" [displayMonths]="2" [(ngModel)]="msr.MissionSupportEnd" ngbDatepicker 
              #MissionSupportEnd="ngbDatepicker" name="MissionSupportEnd" readonly
              [minDate]="getMinimumDateForMissionSupportEnd()"
              [maxDate]="msr.MissionEnd" (click)="MissionSupportEnd.toggle();MissionSupportStart.close()">
          <div class="input-group-addon" (click)="MissionSupportEnd.toggle();MissionSupportStart.close()">
            <i class="fa fa-calendar"></i>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="form-group col-6">
        <label>Location</label>
        <input [(ngModel)]="msr.SupportLocation" type="text" class="form-control" name="SupportLocation">
      </div>
    </div>

    <div class="row">
      <div class="form-group col-6">
        <div class="checkbox">
          <label>
            <input [(ngModel)]="msr.AircraftSecurityRequired" type="checkbox" name="AircraftSecurityRequired">
            Aircraft Security Needed
            </label>
        </div>  
      </div>
    </div>

    <div *ngIf="msr.AircraftSecurityRequired" class="row">
      <div class="form-group col-6">
        <label>Staging Location</label>
        <input [(ngModel)]="msr.StagingLocation" type="text" class="form-control" name="StagingLocation">
      </div>
    </div>

    <app-subunits [msr]="msr" [cachedData]="cachedData" [assignedSupportUnit]="assignedSupportUnit"></app-subunits>
    <app-outsideunits [msr]="msr"></app-outsideunits>
    <div class="row">
      <div class="form-group col-6">
        <button (click)="onSaveButtonClicked()" class="btn btn-primary" type="button"><i class="fa fa-save"></i>&nbsp; Save</button>
      </div>
    </div>
  </div>
</fieldset>

<app-updatestatus [msr]="msr"></app-updatestatus>
 